@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Space Mono', sans-serif;
}

:root{
  --gray: #697C9A;
  --blue: #0079FF;
  --slateblue: #4B6A9B;
  --darkgray: #2B3442;
  --slatewhite: #F6F8FF;
  --offwhite: #FEFEFE;

  --red-color: #F74646;
  --shadow: 0 1rem 1.875rem #4660BB33;

  --hover-input: #222731;
}

.dark{
  --gray: #FFF;
  --slateblue: #FFFFFF;
  --darkgray: #FFF;
  --slatewhite: #141D2F;
  --offwhite: #1E2A47;
  --shadow: none;
  --hover-input: #90A4D4;

  & button {
    --offwhite: #FFF;
  }
}

.mobile{
  display: none;
}

input:focus{
  outline: none;
}

.botaocor:hover .child{
  color: var(--hover-input);
}

.nulo {
  color: #4b6a9b93;
}

@media (max-width:700px) {

  #container{
    height: 100%;
    padding-bottom: 5rem;
  }

  .pc{
    display: none;
  }
  .mobile{
    display: flex;
  }

  header{
    margin-top: 2rem;
  }

  header, main{
    max-width: 21rem;
  }

  .search{
    display: flex;
    gap: 10px;
  }

  input{
    width: 11.5rem;
    font-size: 0.8125rem;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: -1px;
  }

  .lupa{
    margin-left: 0.5rem;
  }

  .botao{
    width: 5.25rem;
    padding: 0.78125rem 0.8rem;
    text-align: center;
    font-size: 0.9rem;
  }

  main{
    align-items: center;
    padding: 1.5rem;
  }

  main h1{
    font-size: 1.5rem;
  }

  .avatar{
    width: 4.375rem;
    height: 4.375rem;
  }

  .dados-add{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: 0px;
  }

  .user-data{
    display: flex;
    flex-direction: row;
  }

  .user-repo{
    width: 17.625rem;
    padding: 1rem;
  }

  .user-repo h2{
    text-align: center;
  }
}