@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Space Mono', sans-serif;
}

:root{
  --light-mode-gray: #697C9A;
  --light-mode-blue: #0079FF;
  --light-mode-slateblue: #4B6A9B;
  --light-mode-darkgray: #2B3442;
  --light-mode-slatewhite: #F6F8FF;
  --light-mode-offwhite: #FEFEFE;
}